DJANGO_SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=BanglaGuide
DB_USER=postgres
DB_PASSWORD=12345
DB_HOST=localhost
DB_PORT=5432

WEATHER_API_KEY=

# Tailwind / Node
NPM_BIN_PATH=C:/Program Files/nodejs/npm.cmd

# External Postgres (Render) example
DATABASE_URL=postgresql://banglaguide_9d6s_user:unDezp2UsNpxk3zKc4sAEAHaJNwVv7gR@dpg-d2ougc7fte5s738pc3cg-a.singapore-postgres.render.com/banglaguide_9d6s
