{% extends 'base.html' %}

{% block title %}Add Car{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-[80vh]">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-lg">
        <h2 class="text-2xl font-bold text-center mb-6">Add Your Car</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                {{ form.model.label_tag }} {{ form.model }} {{ form.model.errors }}
            </div>
            <div class="mb-4">
                {{ form.rent.label_tag }} {{ form.rent }} {{ form.rent.errors }}
            </div>
            <div class="mb-4">
                {{ form.number.label_tag }} {{ form.number }} {{ form.number.errors }}
            </div>
            <div class="mb-4">
                {{ form.city.label_tag }} {{ form.city }} {{ form.city.errors }}
            </div>
            <button type="submit" class="bg-primary text-white px-6 py-3 rounded-full w-full font-semibold hover:bg-blue-700">Submit</button>
        </form>
    </div>
</div>
{% endblock %}