{% extends 'base.html' %}

{% block title %}Provider Homepage{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h2>Welcome, Service Provider {{ user.name }}!</h2>
    <p>Manage your services below.</p>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <a href="{% url 'hotel_add' %}" class="btn btn-primary btn-lg w-100">Add your Hotel</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{% url 'guide_add' %}" class="btn btn-primary btn-lg w-100">Add yourself as a Local Guide</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{% url 'car_add' %}" class="btn btn-primary btn-lg w-100">Add your Car</a>
        </div>
    </div>
</div>
{% endblock %}