{% extends 'base.html' %}

{% block title %}Provider Homepage{% endblock %}

{% block content %}
<div class="text-center mt-12">
    <h2 class="text-3xl font-bold mb-6">Welcome, Service Provider {{ user.name }}!</h2>
    <p class="text-lg text-gray-600 mb-8">Manage your services below.</p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <a href="{% url 'hotel_add' %}" class="bg-primary text-white p-6 rounded-lg shadow-md hover:bg-blue-700 hover:shadow-xl transition">Add your Hotel</a>
        <a href="{% url 'guide_add' %}" class="bg-primary text-white p-6 rounded-lg shadow-md hover:bg-blue-700 hover:shadow-xl transition">Add yourself as a Local Guide</a>
        <a href="{% url 'car_add' %}" class="bg-primary text-white p-6 rounded-lg shadow-md hover:bg-blue-700 hover:shadow-xl transition">Add your Car</a>
    </div>
</div>
{% endblock %}